[Unit]
Description=DAMNIT new data listener
PartOf=damnit-services.target
# Ensure we don't accidentally start it on other nodes
ConditionHost=max-exfl458.desy.de

[Service]
Type=notify
WorkingDirectory=%h/srv/damnit-listener
ExecStart=/gpfs/exfel/sw/software/xfel_anaconda3/amore-mid/.pixi/envs/default/bin/damnit listen
Restart=on-failure

[Install]
WantedBy=damnit-services.target
