EXtra-data==1.16.0
ipython==8.22.2
kafka-python==2.0.2
matplotlib==3.8.3
mplcursors==0.5.3
mpl-pan-zoom==1.0.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
pyflakes==3.2.0
PyQt5==5.15.10
pytest==8.1.1
pytest-qt==4.4.0
pytest-xvfb==3.0.0
QScintilla==2.13.0
scipy==1.12.0
supervisor==4.2.5
termcolor==2.4.0
xarray==2024.2.0
