EXtra-data==1.22.0
ipython==8.33.0
kafka-python==2.2.15
matplotlib==3.10.6
mplcursors==0.7
mpl-pan-zoom==1.1.0
numpy==2.3.3
openpyxl==3.1.5
pandas==2.3.3
pyflakes==3.4.0
PyQt5==5.15.11
pytest==8.4.2
pytest-qt==4.5.0
pytest-xvfb==3.1.1
QScintilla==2.13.0
supervisor==4.3.0
termcolor==3.1.0
xarray==2025.1.2
