name: Tests

on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:

env:
  SYSTEM_PACKAGES: gcc g++ xvfb qtbase5-dev

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Cache APT Packages
      uses: awalsh128/cache-apt-pkgs-action@v1.6.0
      with:
        packages: ${{ env.SYSTEM_PACKAGES }}

    - uses: prefix-dev/setup-pixi@v0.9.2
      with:
        pixi-version: v0.50.2
        cache: true
    - run: pixi run test

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  publish:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: tests
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Build packages
        run: |
          python3 -m pip install build
          python3 -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
